@import url("https://maps.googleapis.com/maps/api/js?key=AIzaSyCm5XhGkhUtYGlCPnGxWXodpj5ZogAuesI&v=3.exp");


.container {
    display: flex;
}

.menu {
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px;
}

.content {
    flex: 4;
    padding: 20px;
}

.wrapper{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.main{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards{
    margin-top: 20px;
    width: 88%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}