.container {
    background-color: var(--bgSoft);
    padding: 50px;
    border-radius: 10px;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form input {
    padding: 30px;
    width: 45%;
    background-color: transparent;
    color: var(--text);
    border: 2px solid #2e374a;
    border-radius: 5px;
    margin-bottom: 30px;
    outline: none;
}



.form button {
    margin-left: 80%;
    width: 20%;
    padding: 20px;
    background-color: #5d57c9;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #2e25d1;
    transition: 0.5s;
}